h1
{
	color:black;
	font-family:papyrus;font-size:24pt;
	text-decoration:underline;
}
h2
{
	color:blue;
	font-family:Harrington;font-size:18pt;
	text-decoration:overline;
}
p
{
	color:red;
	font-family:Gabriola MS;font-size:16pt;
	font-style:italic;
}